/* ---------------     NAVBAR     --------------- */

.navbar-brand {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 1.8rem;
    text-decoration: none;
}

.brand-name {
    color: #EE2626;
}

.brand-suffix {
    color: #EE2626;
    font-size: 0.8rem;
    vertical-align: middle;
    margin-left: 5px;
}

.cta {
    border: none;
    background: none;
    cursor: pointer;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    margin-right: 15px;
    text-transform: uppercase;
}

.cta {
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 5px; 
    text-transform: uppercase;
    padding-right: 0; 
    transition: color 0.3s ease; 
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #E33E26; 
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation {
    color: #E33E26; 
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*----- Mega menú del navbar -----*/

.mega-menu {
    position: absolute;
    top: 102%; 
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    background-color: white;
    border: 1px solid #EE2626;
    width: 75%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.mega-menu.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(-50%) translateY(0); /* Baja a su posición real */
}

#cepillos-nav::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 20px; 
    background: transparent;
}

.mega-menu span{
    color: #EE2626;
    border-bottom: 2px solid #EE2626; 
    padding-bottom: 5px;   
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

.columna-menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.columna-menu a {
    text-decoration: none;
    color: #333;
    display: table; 
    width: fit-content;  
    padding-bottom: 2px; 
    border-bottom: 0.1px solid transparent; 
    transition: all 0.3s ease;
}

.columna-menu a:hover {
    border-bottom: 0.1px solid #000; 
}

.titulo-categoria{
    margin-bottom: 10px;
}