/* ---------------     NAVBAR     --------------- */

.navbar-brand {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 1.8rem;
    text-decoration: none;
}

.brand-name {
    color: #EE2626;
}

.brand-suffix {
    color: #EE2626;
    font-size: 0.8rem;
    vertical-align: middle;
    margin-left: 5px;
}

.cta {
    border: none;
    background: none;
    cursor: pointer;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    margin-right: 15px;
    text-transform: uppercase;
}

.cta {
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 5px; 
    text-transform: uppercase;
    padding-right: 0; 
    transition: color 0.3s ease; 
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #E33E26; 
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation {
    color: #E33E26; 
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*----- Mega menú del navbar -----*/

.mega-menu {
    position: absolute;
    top: 102%; 
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    background-color: white;
    border: 1px solid #EE2626;
    width: 75%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.mega-menu.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(-50%) translateY(0); /* Baja a su posición real */
}

@media (max-width: 650px) {
    .mega-menu {
        width: 95vw; /* Usamos ancho de pantalla para que no desborde */
        left: 50%;
        flex-direction: column; /* Las columnas ahora van hacia abajo */
        align-items: center;    /* Centra los grupos de links */
        gap: 20px;             /* Espacio entre cada categoría */
        padding: 15px;
        text-align: center;    /* Centra los textos si preferís */
    }

    .columna-menu {
        width: 100%;           /* Cada grupo ocupa todo el ancho */
        align-items: center;    /* Centra el título y los links internamente */
    }

    .columna-menu a {
        width: 100%;           /* Los links son más fáciles de tocar con el dedo */
        justify-content: center;
    }
}

#cepillos-nav::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 20px; 
    background: transparent;
}

.mega-menu span{
    color: #EE2626;
    border-bottom: 2px solid #EE2626; 
    padding-bottom: 5px;   
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

.columna-menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.columna-menu a {
    text-decoration: none;
    color: #333;
    display: table; 
    width: fit-content;  
    padding-bottom: 2px; 
    border-bottom: 0.1px solid transparent; 
    transition: all 0.3s ease;
}

.columna-menu a:hover {
    border-bottom: 0.1px solid #000; 
}

.titulo-categoria{
    margin-bottom: 10px;
}



/* ---------------     INDEX     --------------- */
.hero {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../image/cepillo.jpg');
    width: 100%;
    min-height: 70vh;
    padding: 2rem 1rem;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; 
}

.hero-content h1 {
    font-family: 'PT Serif', serif; 
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p{
    font-size: 17px;
}

.cta-button{
    font-size: 20px;
}

.btn-hero {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.btn-hero:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

.btn-hero:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}



@media (min-width: 768px) {
    #productCarousel .carousel-inner {
        display: flex;
    }
    
    #productCarousel .carousel-item {
        margin-right: 0;
        flex: 0 0 33.333333%; 
        display: block;
    }
}

.productos-destacados h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: #333;
}

.productos-destacados h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: #333;
}

.card {
    padding: 10px;
    border: none; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.05); 
}

.center .card {
    transform: scale(0.9); 
    opacity: 0.5;   
    transition: all 0.3s ease; 
}

.center .slick-center .card {
    transform: scale(1.1); 
    opacity: 1;          
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); 
    transform: scale(1.1)
}

.card-img-top {
    height: 250px;       
    object-fit: cover;   
    width: 100%;         
    display: block;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
    filter: invert(1);
}

.slick-prev:before, .slick-next:before {
    color: #E33E26 !important; 
    font-size: 30px; 
}

.slick-prev {
    left: -35px;
    z-index: 1;
}
.slick-next {
    right: -35px;
    z-index: 1;
}


.nosotros h2{
    color: #E33E26; 
}

/* ---------------     CONTACTO     --------------- */
.datos-contacto{
    background-color: #f8f9fa;
}

.datos-contacto h2 {
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.datos-contacto i {
    color: #E33E26;
    font-size: 2.5rem;
    margin-bottom: 10px;
}


.titulo-dato {
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.datos-contacto h6 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.datos-contacto p {
    font-size: 0.95rem;
    color: #555;
}

.maps {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px; 
}

.maps iframe {
    width: 100%; 
    max-width: 1000px; 
    border-radius: 15px; 
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1); 
    margin-bottom: 50px;
}


/* ---------------     FOOTER     --------------- */
footer{
    border-top: 5px solid #E33E26
}

footer h4{
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 1.8rem;
    text-decoration: none;
    color: #EE2626;
}

footer a{
    text-decoration: none;
}

.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}


.btn-whatsapp-fijo {
    position: fixed;        
    bottom: 20px;        
    right: 20px;          
    width: 60px;     
    height: 60px;           
    line-height: 60px;   
    background-color: #25d366;
    color: #fff;     
    border-radius: 50px;  
    text-align: center;   
    font-size: 35px;     
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    z-index: 1000;     
    transition: all 0.3s ease;
}

.btn-whatsapp-fijo:hover {
    text-decoration: none;
    color: #fff;
    transform: scale(1.1); 
    background-color: #20ba5a;
}

.columna-menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.columna-menu a {
    text-decoration: none;
    color: #333;
    display: table; 
    width: fit-content;  
    padding-bottom: 2px; 
    border-bottom: 0.1px solid transparent; 
    transition: all 0.3s ease;
}

.columna-menu a:hover {
    border-bottom: 0.1px solid #000; 
}

.titulo-categoria{
    margin-bottom: 10px;
}

.d-flex{
    display: flex !important;
}

.d-none{
    display: none;
}

/* 1. Separación entre cards */
.slick-slide {
    margin: 0 10px; /* Espacio horizontal entre tarjetas */
}

/* 2. Controlar las imágenes */
.card-img-top {
    width: 100%;
    height: 200px;        /* Altura fija para que todas sean iguales */
    object-fit: contain;  /* La imagen no se recorta, se ajusta */
    padding: 10px;        /* Un aire para que no toque los bordes */
}

/* 3. (Opcional) Efecto "Pop" al del medio */
.slick-center .card {
    transform: scale(1.05); /* Agranda un poquito la card central */
    transition: all 0.3s ease;
}